<div class="container mb-5">
  <div class="input-group">
    <input
      id="search"
      type="text"
      name="seartTerm"
      class="form-control search-input"
      placeholder="Rechercher un Pokémon..."
      #searchField
      [value]="searchTerm()"
      (input)="searchTerm.set(searchField.value)"
    >
    <span class="input-group-text search-icon"><i class="bi bi-search"></i></span>
  </div>
</div>

<div class="pokemon-list">
  @if (loading()) {
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
  @for (pokemon of pokemonListFiltered(); track pokemon.id) {
    <a [routerLink]="['/pokemons', pokemon.id]">
    <div class="pokemon-card" appPokemonBorder [pokemonType]="pokemon.types[0]">
      <div class="image-container">
          <img
            [src]="pokemon.picture"
            [alt]="pokemon.name"
            class="pokemon-image"
          >
      </div>

      <div class="info">
        <h2 class="pokemon-name">{{ pokemon.name }}</h2>
        <p class="pokemon-detail">Types: <span>{{ pokemon.types }}</span></p>
        <p class="pokemon-detail">Point de vie: <span class="life-count">{{ pokemon.life }} </span></p>
        <p class="pokemon-detail">Dégâts: <span class="damage">{{ pokemon.damage }}</span></p>
        <p class="pokemon-detail">Date: <span class="damage">{{ pokemon.created | date: 'shortDate' }}</span></p>
      </div>

      <div class="status">
        Statut: <span [ngClass]="{
            'small-status': pokemon.life <= 15,
            'medium-status': pokemon.life > 15 && pokemon.life < 25,
            'big-status': pokemon.life >= 25
          }">{{ updateSize(pokemon) | uppercase }}</span>
      </div>
    </div>
    </a>
  }
</div>
<div class="position-fixed bottom-0 end-0 p-3">
  <button class="btn btn-success rounded-circle text-decoration-none" [routerLink]="['/pokemons/add/']">+</button>
</div>
